/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 #info{
   font-family: 'Comfortaa', cursive;
   color: brown;
 }
 #instructions {
   
 }
 h4 {
   font-family: 'Comfortaa', cursive;
   color: green;
 }
 #trivia { margin-top: 60px

 }

img {
   width: 200px;
 }

 nav {
   font-family: 'Comfortaa', cursive;
 }
 form {
    font-family: 'Comfortaa', cursive;
 }
 body{
   background-color: #dff5a4;
   background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
 }
 th {
   font-family: 'Comfortaa', cursive;
 }
h1 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
    font-size: 3em;
    margin: 0px auto;
    padding: 0px 0px 5px 0px;
    width: 50%;

}
h5{
  font-family: 'Comfortaa', cursive;
  color: green
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
