/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 .tabs{
   letter-spacing: 3px;
   font-size: 16px;
 }
.tabs .tab a{
  color: green;
}
.tabs .tab a:hover, .tabs .tab a.active{
  color: green;
}
#submit{
  border-radius: 25px;
  box-shadow: 5px 5px darkgreen;
}
 #trivia{
    border-radius: 25px;
    color: white;
    box-shadow: 5px 5px darkgreen;
 }

 #joke{
    border-radius: 25px;
    color: white;
    box-shadow: 5px 5px darkgreen;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;

 }
 #info{
   font-family: 'Comfortaa', cursive;
   color: black;
   background-color: white;
   font-size: 25px;
 }
 #instructions {
background-color: white;

margin-right: 30px;
margin-top: 30px;
 }
 h4 {
   font-family: 'Comfortaa', cursive;
   color: green;

}

 .logo{
   width: 300px;
 }
 #trivia {
   margin-top: 100px
 box-shadow: 5px 5px darkgreen;
 font-family: 'Comfortaa', cursive;
 font-size: 30px;
 }
br{
  font-size: 30px;
}
img {
   width: 200px;
 }

 nav {
   font-family: 'Comfortaa', cursive;
 }



 form {
    font-family: 'Comfortaa', cursive;

 }
 body{
   background-color: #dff5a4;
   background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
 }
 th {
   font-family: 'Comfortaa', cursive;
 }
h1 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
    font-size: 3em;
    margin: 0px auto;
    padding: 0px 0px 5px 0px;
    width: 50%;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h5{
  font-family: 'Comfortaa', cursive;
  color: green
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
#joking{
  font-family: 'Comfortaa', cursive;
  color: black;
  background-color: white;
  font-size: 25px;

}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
#download-button{
  border-radius: 25px;
  box-shadow: 5px 5px darkgreen;
  font-family: 'Comfortaa', cursive;
}
footer.page-footer {
  margin: 0;

}
.light{
    font-family: 'Comfortaa', cursive;
}
#logo-container{
  /*width: 10px*/

}
